@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Light.ttf") format("truetype"), url("src/assets/fonts/Comfortaa-Light.woff") format("woff"), url("src/assets/fonts/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Regular.ttf") format("truetype"), url("src/assets/fonts/Comfortaa-Regular.woff") format("woff"), url("src/assets/fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Medium.ttf") format("truetype"), url("src/assets/fonts/Comfortaa-Medium.woff") format("woff"), url("src/assets/fonts/Comfortaa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("src/assets/fonts/Comfortaa-Bold.ttf") format("truetype"), url("src/assets/fonts/Comfortaa-Bold.woff") format("woff"), url("src/assets/fonts/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Comfortaa", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  background-color: #ffffff;
  color: #111111;
  overflow-x: hidden;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #111111;
  margin: 1.6rem 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-size: 2.5rem;
  }
}

h3,
h4 {
  font-size: 1.7rem;
  line-height: 3.5rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  h3,
  h4 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}
@media screen and (min-width: 48rem) {
  p {
    font-size: 1.7rem;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 75rem;
  margin: auto;
}
@media screen and (min-width: 48rem) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.btn {
  padding: 0.5rem 3rem;
  background-color: #ebc26d;
  border: none;
  color: #111111;
  border-radius: 0.3rem;
  cursor: pointer;
}

.project-card {
  position: relative;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9), -4px -4px 10px rgba(0, 0, 0, 0.3); /* Soft shadows */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth effect */
}
.project-card__img {
  width: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}
.project-card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0 0 0.2rem 0.2rem;
  background-color: #942f67;
  color: #ffffff;
}