@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.colors {
  display: flex;
  gap: 10px;
}
.colors > div {
  width: 100px;
  height: 50px;
}
.testColor1 {
  background-color: $color1;
}
.testColor2 {
  background-color: $color2;
}
.testColor3 {
  background-color: $mainColor;
}
.testColor4 {
  background-color: $color4;
}
.testColor5 {
  background-color: $backColor;
}
.testColor6 {
  background-color: $color6;
}
